<a href="https://colab.research.google.com/github/laurenzberger/retail-data-challenge/blob/master/RetailRegressionChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kaggle Rossmann Challenge Prep

## Dataset 

https://www.kaggle.com/c/rossmann-store-sales/data

## Usefull Inspiration

https://github.com/agostontorok/KaggleRossmannChallenge/blob/master/MeetupPrez.ipynb

https://github.com/deadskull7/Rossmann-Store-Sales-Predictions/blob/master/Rossmann_Store_Sales.ipynb

https://github.com/elena-petrova/rossmann_TSA_forecasts/blob/master/Rossmann_Sales.ipynb

https://github.com/JohanManders/ROSSMANN-KAGGLE/blob/master/ROSSMANN%20STORE%20SALES%20COMPETITION%20KAGGLE.ipynb

## Get Data from Github repo

In [0]:
#download dataset from git repo if not there yet
%%bash
[ ! -d "/content/retail-data-challenge" ] && git clone https://github.com/laurenzberger/retail-data-challenge.git

In [20]:
cd /content/retail-data-challenge

/content/retail-data-challenge

In [21]:
!ls -la

total 20
drwxr-xr-x 4 root root 4096 Apr  7 08:21 .
drwxr-xr-x 1 root root 4096 Apr  7 08:21 ..
drwxr-xr-x 2 root root 4096 Apr  7 08:21 data
drwxr-xr-x 8 root root 4096 Apr  7 08:21 .git
-rw-r--r-- 1 root root   23 Apr  7 08:21 README.md

In [22]:
!pwd

/content/retail-data-challenge

In [23]:
!git pull

remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.
From https://github.com/laurenzberger/retail-data-challenge
   f73e4c8..421d4dd  master     -> origin/master
Updating f73e4c8..421d4dd
Fast-forward
 RetailRegressionChallenge.ipynb | 101 ++++++++++++++++++++++++++++++++++++++++
 1 file changed, 101 insertions(+)
 create mode 100644 RetailRegressionChallenge.ipynb

## Imports

In [0]:
import pandas as pd

## Read in Dataset

In [28]:
ls -la ./data/

total 3888
drwxr-xr-x 2 root root    4096 Apr  7 08:21 ./
drwxr-xr-x 4 root root    4096 Apr  7 08:26 ../
-rw-r--r-- 1 root root  317611 Apr  7 08:21 sample_submission.csv
-rw-r--r-- 1 root root   45010 Apr  7 08:21 store.csv
-rw-r--r-- 1 root root 1099661 Apr  7 08:21 test_v2.csv
-rw-r--r-- 1 root root 2504622 Apr  7 08:21 train_v2.csv

In [0]:
train = pd.read_csv("./data/train_v2.csv", parse_dates=['Date'], low_memory=False)
test  = pd.read_csv("./data/test_v2.csv",  parse_dates=['Date'], low_memory=False)
store = pd.read_csv("./data/store.csv")

In [33]:
train.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-01-30,5577,616,1,1,0,0
1,2,5,2015-01-30,5919,624,1,1,0,0
2,3,5,2015-01-30,6911,678,1,1,0,0
3,4,5,2015-01-30,13307,1632,1,1,0,0
4,5,5,2015-01-30,5640,617,1,1,0,0